<div class="teste">

    <header>
        <h1>FEIRA DE CURSO E PROFISSÕES 2022</h1>
        <h2>ANÁLISE E DESENVOLVIMENTO DE SISTEMAS</h2>
    </header>
    
    <main>
        <div class="tweets">
            <app-tweet-card *ngFor="let tweet of tweets" [tweet]="tweet"></app-tweet-card>
    </div>
</main>

<footer>
    <img width="200px" src="../assets/catei_preto.png">
    <img width="100px" height="100px" src="../assets/logo_preta.png">
    <img width="100px" height="115px" src="../assets/feira-cursos-ufpr.png">
</footer>
</div>